@use "./typography";
@use "./attributes";

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../../public/assets/fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "Gilroy-Medium";

  src: url("../../public/assets/fonts/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../../public/assets/fonts/Gilroy-SemiBold.ttf");
}
@font-face {
  font-family: "Gilroy-Light";
  src: url("../../public/assets/fonts/Gilroy-Light.ttf");
}
:root {
  --font-bold: "Gilroy-Bold";
  --font-medium: "Gilroy-Medium";
  --font-semiBold: "Gilroy-SemiBold";
  --font-light: "Gilroy-Light";
  --header-background-color: #0e0e0e;
  --header-para-color: #8a8a8a;
  --button-primary: #00ce53;
  --text-primary-clr: #02d4f8;
  --blue: #02d4f8;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-medium);
  font-size: 1.4rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0a0a0a;
  color: #f5f5f5;
}

.app {
  height: 100vh;
  overflow-y: auto;
  background-attachment: fixed;
  background: linear-gradient(
    -45deg,
    transparent -10%,
    rgba(0, 0, 0, 0.9) 10%,
    transparent 100%
  );
}

a {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.mx {
  max-width: 1400px;
  margin: 0 auto;
}

.pad {
  padding: 0 3rem;

  @media (max-width: 768px) {
    padding: 0 2rem;
  }
  @media (max-width: 576px) {
    padding: 0 1rem;
  }
}

@for $i from 5 to 51 {
  .p-#{$i} {
    padding: $i + px;
  }
  .pt-#{$i} {
    padding-top: $i + px;
  }
  .pl-#{$i} {
    padding-left: $i + px;
  }
  .pr-#{$i} {
    padding-right: $i + px;
  }
  .pb-#{$i} {
    padding-bottom: $i + px;
  }
  .m-#{$i} {
    margin: $i + px;
  }
  .mt-#{$i} {
    margin-top: $i + px;
  }
  .ml-#{$i} {
    margin-left: $i + px;
  }
  .mr-#{$i} {
    margin-right: $i + px;
  }
  .mb-#{$i} {
    margin-bottom: $i + px;
  }
  .g-#{$i} {
    gap: $i + px;
  }
}

.upcoming {
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}

.slick-list {
  width: 500px;
}
@media (max-width: 480px) {
  .slick-list {
    width: 350px;
  }
}
.slick-dots {
  margin: 0 !important;
}
.slick-dots li {
  margin: 0 !important;
}

.slick-dots li button::before {
  color: #ffffff !important;
  opacity: 1 !important;
  font-size: 0px;
}
.slick-dots li.slick-active button::before {
  color: #ffffff !important;
  font-size: 12px;
}
