.impacts_home {
  background-image: url(/assets/images/bg-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 70px;
  @media (max-width: 768px) {
    .impact_hero {
      display: flex;
      flex-direction: column;
    }
  }

  .impact_hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;

    @media (max-width: 1168px) {
      display: flex;
      flex-direction: column;
      padding-bottom: 40px;
      gap: 20px;
    }

    .hero_wrapper {
      display: flex;
      align-items: center;
      gap: 20px;

      .group_img {
        display: none;
      }
      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0;
        .group_img {
          display: flex;
          position: relative;
          align-items: center;
          justify-content: center;
          width: 100%;
          > div {
            position: unset !important;
          }
          .image {
            object-fit: contain;
            max-width: 350px !important;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
          }
        }
        .member {
          display: none;
        }
      }
      @media (max-width: 480px) {
        .group_img {
          display: block;
          position: relative;
        }
      }
      img {
        width: 50%;
      }
    }
    .explain {
      h4 {
        font-size: 24px;
        font-weight: 100;
        line-height: 40px;
        letter-spacing: -0.06em;
        // padding: 128px 64px;
      }
      @media (max-width: 768px) {
        h4 {
          font-size: 20px;
          font-weight: 100;
          line-height: 40px;
          letter-spacing: -0.06em;
          padding: 20px 17px 0;
        }
      }
    }
    .border_right {
      width: 2px;
      height: 100%;
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
  .border_bottom {
    width: 100%;
    height: 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    @media (max-width: 720px) {
      display: none;
    }
  }
}
