.startUp_ux_wrapper {
  margin-top: 100px;
  @media (max-width: 400px) {
    padding: 0 10px;
  }
  .ux {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    width: 34px;
    height: 34px;
    border-radius: 6px;
    display: none;
    margin: 10px;

    h1 {
      font-size: 12px;
      padding: 8px;
    }
    @media (max-width: 480px) {
      display: block;
    }
  }
  .first_content {
    display: flex;
    align-items: center;

    gap: 12px;
    margin-left: 24px;
    @media (max-width: 1124px) {
      display: block;
    }
    @media (max-width: 480px) {
      display: none;
    }

    .ux_box {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #fff;
      width: 64px;
      height: 64px;
      border-radius: 6px;
      @media (max-width: 1124px) {
        margin: 0 auto;
      }
      @media (max-width: 480px) {
        width: 34px;
        height: 34px;
      }
      h1 {
        font-size: 24px;
        @media (max-width: 480px) {
          font-size: 12px;
        }
      }
    }
    h3 {
      font-size: 32px;
      color: #f5f5f5;
      font-weight: 100;
      @media (max-width: 1124px) {
        margin-top: 20px;
      }
      @media (max-width: 980px) {
        display: none;
      }
    }
  }
  .startUp_ux_container {
    margin-top: 21px;
    display: flex;
    align-items: center;
    @media (max-width: 1124px) {
      display: block;
    }
    @media (max-width: 480px) {
      margin-top: 50px;
      margin-bottom: 16px;
    }
    .startUp {
      padding: 0 100px 0 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (max-width: 980px) {
        padding: 0 100px;
      }
      @media (max-width: 780px) {
        padding: 0 63px;
      }
    }
    .startup_content {
      padding: 16px 24px;
      background: #141414;
      backdrop-filter: blur(16px);
      width: 220px;
      height: 90px;

      margin-bottom: 24px;
      // @media (max-width: 1124px) {
      //   display: none;
      // }

      h2 {
        text-align: center;
        font-size: 24px;
        font-weight: 100;
        letter-spacing: 2px;
      }
    }
    .startup_para_responsive {
      display: none;

      p {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
      }
      @media (max-width: 480px) {
        display: block;
      }
    }
    .startup_para {
      p {
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
      }
      @media (max-width: 480px) {
        display: none;
      }
    }
    // .startup_content_media {
    //   background: #141414;
    //   backdrop-filter: blur(16px);
    //   width: 330px;
    //   padding: 16px 24px;
    //   margin: 30px auto;
    //   cursor: pointer;
    //   h2 {
    //     font-family: var(--font-light);
    //     font-size: 16px;
    //     letter-spacing: 0.12em;
    //     text-align: center;
    //   }

    //   @media (min-width: 1124px) {
    //     display: none;
    //   }
    //   @media (max-width: 450px) {
    //     font-size: 14px;
    //   }
    // }
  }
  .second_content {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    gap: 12px;
    @media (max-width: 1124px) {
      grid-template-columns: 1fr;
      place-items: center;
    }
    .girl_img {
      margin-top: 80px;
      img {
        max-width: 276px;
        width: 100%;
        object-fit: contain;
      }
      @media (max-width: 1124px) {
        display: none;
      }
    }
    .startup_services_content {
      .line_code {
        margin-left: 150px;
        img {
          max-width: 782px;
          width: 100%;
        }
        @media (max-width: 1124px) {
          display: none;
        }
      }
      .IStartUpUxServices {
        display: flex;
        align-items: center;
        gap: 20px;

        @media (max-width: 1124px) {
          display: flex;
          flex-direction: column;
          position: relative;
          gap: 0;
          // width: 100%;
          // height: 100%;
          // aspect-ratio: 1;
          // max-width: 100vw;
          // max-height: 100vh;
          // padding: 0 20px;
        }
        .startup_cards,
        .startup_card {
          border: 1px solid #363637;
          max-width: 356px;
          width: 100%;
          max-height: 472px;
          height: 100%;
          padding: 25px;

          @media (max-width: 1124px) {
            margin: 25px 0;
            // position: absolute;
            width: fit-content;
            height: fit-content;
            // top: 0;
            // left: 0;
            // max-width: fit-content;
            // max-height: fit-content;
          }

          .startup_flexContent {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 17px;

            h3 {
              color: #02d4f8;
              font-size: 24px;
              font-weight: 100;
              white-space: nowrap;
            }
          }
          .prototype_img img {
            max-width: 308px;
            width: 100%;
          }
          .prototype_content {
            h5 {
              font-size: 20px;
              color: #eeeeee;
              font-weight: 100;
              margin-top: 10px;
            }
            p {
              font-size: 16px;
              margin-top: 8px;
            }
            button {
              padding: 12px 120px;
              color: #fff;
              font-size: 14px;
              margin-top: 18px;
              white-space: nowrap;
              font-family: var(--font-medium);
            }
          }
        }
      }
    }
  }
  .media_grid_content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .girl_img_media {
      img {
        width: 220px;
        height: auto;
        @media (max-width: 685px) {
          width: 200px;
        }
        @media (max-width: 530px) {
          width: 150px;
        }
      }
      @media (min-width: 1124px) {
        display: none;
      }
    }
    .vision_btn_media {
      background: #141414;
      padding: 12px 32px;
      text-align: center;
      margin-right: 50px;
      @media (max-width: 575px) {
        margin-right: 20px;
      }
      @media (max-width: 500px) {
        padding: 20px 15px;
      }

      p {
        font-size: 16px;
        @media (max-width: 460px) {
          font-size: 14px;
        }
        @media (max-width: 415px) {
          font-size: 12px;
        }
      }
      h5 {
        font-size: 20px;
        font-weight: 100;
        margin-top: 6px;
        @media (max-width: 460px) {
          font-size: 18px;
        }
        @media (max-width: 415px) {
          font-size: 16px;
        }
      }
      button {
        margin-top: 16px;
        font-family: var(--font-medium);
        white-space: nowrap;
        @media (max-width: 500px) {
          max-width: 250px;
          width: 100%;
        }
        @media (max-width: 460px) {
          font-size: 14px;
          padding: 8px 25px;
        }
        @media (max-width: 415px) {
          font-size: 12px;
        }
      }
      @media (min-width: 1124px) {
        display: none;
      }
    }
  }
}
