.home_container {
  position: relative;
  margin-top: 67px;
  height: 100%;
  min-height: 100vh;

  .background_clip {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: -1;

    video {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    }
  }
  .home_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 64px;
    margin-top: 55px;
    @media (max-width: 1024px) {
      display: block;
    }
    @media (max-width: 645px) {
      padding: 40px 12px;
    }
    .first_content {
      h3 {
        font-size: 40px;
        font-weight: 100;
        letter-spacing: -0.06em;
        @media (max-width: 1024px) {
          margin-top: 30px;
        }

        @media (max-width: 645px) {
          font-size: 38px;
        }
        @media (max-width: 450px) {
          font-size: 28px;
          margin-top: 50px;
        }
      }
      @media (max-width: 1024px) {
        text-align: center;
      }

      .a_to_z_content {
        display: flex;
        align-items: center;
        margin-top: 16px;
        @media (max-width: 1024px) {
          justify-content: center;
          margin-top: 2px;
        }
        @media (max-width: 768px) {
          margin-top: 30px;
        }

        h1 {
          font-size: 109px;
          @media (max-width: 1024px) {
            font-size: 98px;
          }
          @media (max-width: 645px) {
            font-size: 80px;
          }
        }
        img {
          width: 70px;
        }
      }
      h2 {
        color: #02d4f8;
        font-size: 64px;
        margin-top: -30px;
        font-family: var(--font-semiBold);
        @media (max-width: 645px) {
          font-size: 50px;
          margin-top: 0px;
        }
        @media (max-width: 450px) {
          font-size: 40px;
        }
      }
      p {
        color: #ebebeb;
        margin-top: 44px;
        line-height: 22px;
        font-size: 16px;
      }
      .visit_btn {
        margin-top: 20px;
        @media (max-width: 1024px) {
          display: flex;
          justify-content: center;
          margin-top: 28px;
        }

        button {
          display: flex;
          align-items: center;
          gap: 12px;
          padding: 12px 32px;
          background: transparent;
          color: #00ce53;
          outline: none;
          border: 1px solid #00ce53;
          cursor: pointer;
          font-family: var(--font-bold);
          .arrow {
            > div {
              position: unset;
            }
            .image {
              max-width: 24px !important;
              width: 100%;
              height: unset !important;
              position: relative !important;
            }
          }
          @media (max-width: 768px) {
            display: none;
          }
        }
      }
    }

    .second_content {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      position: relative;

      @media (max-width: 1024px) {
        margin-top: 280px;
      }
      @media (max-width: 768px) {
        display: none;
      }
      .hexagonArea {
        display: flex;
        justify-content: center;
        position: relative;
        @media (max-width: 735px) {
          flex-wrap: wrap;
        }

        .background_img {
          position: relative;
          margin: 0 3px;
          img {
            width: 85px;
            height: 100px;
          }
        }

        .firstHexagon {
          position: absolute;
          top: 4px;
          left: 4px;
        }
        .hexagon {
          clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
          width: 78px;
          height: 94px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: 0.5s;
          backdrop-filter: blur(12px);
          @media (max-width: 1024px) {
            backdrop-filter: none;
          }

          h3 {
            text-align: center;
            font-size: 10px;
            color: rgba(255, 255, 255, 0.6);
            font-family: var(--font-light);
            // font-weight: 100;
            letter-spacing: 1.2px;
            padding: 0 12px;
            margin-top: 0.1px;
          }
        }
      }
      .hexagon_service {
        display: flex;
        justify-content: center;
        position: relative;
        transform: translate(62px, -230px);
        .background_img {
          margin: 0 3px;
          position: absolute;
          right: 0;
          top: -20%;

          .hexagon_add {
            cursor: pointer;
            transition: 0.5s;
            position: absolute;
            top: 52px;
            right: 0;
            text-align: center;

            h3 {
              margin-top: 0.1px;
              font-size: 48px;
              color: #02d4f8;
            }
            p {
              color: #ffffff;
              font-size: 16px;
              font-family: var(--font-medium);
            }
          }
        }
      }
    }
    .hexagon_service_media {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      .background_img {
        // margin: 60px 3px;
        position: absolute;
        right: 38%;
        top: -30%;
        @media (max-width: 475px) {
          right: 32%;
        }

        .hexagon_add {
          cursor: pointer;
          transition: 0.5s;
          position: absolute;
          top: 45px;
          right: 32px;
          text-align: center;

          h3 {
            margin-top: 0.1px;
            font-size: 38px;
            color: #02d4f8;
          }
          p {
            color: #ffffff;
            font-size: 12px;
            font-family: var(--font-medium);
          }
        }
      }
      @media (min-width: 769px) {
        display: none;
      }
    }
  }
}

.second_hexagon_area {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // position: relative;
  padding-top: 120px;
  // padding: 40px;

  @media (min-width: 768px) {
    display: none;
  }
  // @media (max-width: 645px) {
  //   margin-top: 32px;
  // }
  // @media (max-width: 415px) {
  //   padding-top: 250px;
  // }
  // @media (max-width: 376px) {
  //   margin-top: 0px;
  // }
  // @media (max-width: 393px) {
  //   margin-top: -50px;
  // }
  // @media (max-width: 361px) {
  //   margin-top: -100px;
  // }

  .hexagonArea {
    display: flex;
    justify-content: center;
    position: relative;
    @media (max-width: 735px) {
      flex-wrap: wrap;
    }

    .background_img {
      position: relative;
      margin: 0 3px;
      // img {
      //   width: 85px;
      //   height: 100px;
      // }
    }

    .firstHexagon {
      position: absolute;
      top: 4px;
      left: 4px;
    }
    .hexagon {
      clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 0.5s;
      // background: red;
      // backdrop-filter: blur(12px);

      h3 {
        text-align: center;
        font-size: 10px;
        color: rgba(255, 255, 255, 0.6);
        font-family: var(--font-light);
        letter-spacing: 1.2px;
        padding: 0 12px;
        margin-top: 10px;
      }
    }
  }
  .grid_content_one {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 450px) {
      margin-top: 30px;
      grid-template-columns: 1fr;
    }
  }
  .media_five {
    @media (max-width: 450px) {
      margin-top: 30px;
    }
  }
  .visit_btn_media {
    display: flex;
    justify-content: center;
    margin-top: -60px;
    margin-bottom: 90px;
    @media (max-width: 380px) {
      margin-top: -100px;
    }

    button {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 12px 32px;
      background: transparent;
      color: #00ce53;
      outline: none;
      border: 1px solid #00ce53;
      cursor: pointer;
      font-family: var(--font-bold);
      @media (max-width: 380px) {
        font-size: 14px;
      }
      .arrow {
        > div {
          position: unset;
        }
        .image {
          max-width: 24px !important;
          width: 100%;
          height: unset !important;
          position: relative !important;
        }
      }
      @media (min-width: 768px) {
        display: none;
      }
    }
  }
}
