.portFolioWrapper {
  background: radial-gradient(100% 100% at 50% 0%, #141414 0%, #141414 100%);
  padding: 64px 96px;
  @media (max-width: 596px) {
    background: #1e1e1e;
    padding: 32px 20px;
  }
  .portFolioHead {
    p {
      font-size: 20px;
      letter-spacing: 0.12em;
      color: #02d4f8;
      font-family: var(--font-medium);
      @media (max-width: 1024px) {
        font-size: 16px;
      }
      @media (max-width: 596px) {
        text-align: center;
        margin-bottom: 8px;
      }
    }
  }
  .portFolioFlexContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 596px) {
      display: block;
      text-align: center;
    }
    h1 {
      font-size: 64px;
      letter-spacing: -0.06em;
      font-weight: 100;
      @media (max-width: 1024px) {
        font-size: 42px;
      }
      @media (max-width: 587px) {
        font-size: 32px;
      }
      @media (max-width: 425px) {
        font-size: 25px;
      }
    }
    .readCasestudyBtn {
      @media (max-width: 596px) {
        margin-top: 24px;
        display: flex;
        justify-content: center;
      }
      button {
        white-space: nowrap;
      }
    }
  }
  .webDevelopmentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 44px;
    gap: 28px;
    @media (max-width: 580px) {
      grid-template-columns: 1fr;
    }

    .webDevelopmentVideo video {
      max-width: 665px;
      width: 100%;
      max-height: 374px;
      height: 100%;
      border-radius: 10px;
    }
    .overflow {
      display: flex;
      align-items: center;
      gap: 28px;
      overflow-x: auto;
      overflow-y: hidden;
      height: 400px;
      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #252525;
        border-radius: 5px;
      }

      .webDevelopmentImages {
        display: flex;
        align-items: center;
        gap: 28px;

        .webDevelopmentImgFlex {
          display: flex;
          flex-direction: column;
          gap: 18px;
        }
      }
    }
  }
}
